/* ............................. */
/* GENERAL AND CSS RESET  */
/* ............................. */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
}
.main-div {
  margin-top: 2rem;
}

/* ............................. */
/* NAVBAR  */
/* ............................. */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  position: relative;
}

nav img {
  width: 12rem;
}

nav img:hover {
  cursor: pointer;
}
.nav-items {
  display: flex;
  gap: 4rem;
}
.nav-item {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #411daf;
  transition: all 0.3s ease-in;
}
.nav-item:hover {
  color: #965cf2;
  cursor: pointer;
}

.signin-btn {
  display: block;
  padding: 0.2rem 1.5rem;
  border-radius: 30px;
  color: #fff;
  border: 1px solid transparent;
  background: linear-gradient(to right, #965cf2, #ff8adc);
}

button:hover {
  cursor: pointer;
}
/* ............................. */
/* INTRO SECTION  */
/* ............................. */
.intro-section {
  display: grid;
  grid-template-columns: 30fr 70fr;
  /* column-gap: 2rem; */

  max-width: 120rem;
  margin: 0 auto;
}

.left-section {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.left-section h1 {
  font-size: 6rem;
  font-weight: 600;
  color: #3e4794;
}

.left-section h4 {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  color: #696c8c;
  text-align: left;
  padding-right: 2rem;
}

.learn-more-btn {
  display: block;
  width: 20rem;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 30px;
  color: #fff;
  border: 1px solid transparent;
  background: linear-gradient(to right, #965cf2, #ff8adc);
}

/* ............................. */
/* IMAGE SECTION  */
/* ............................. */

.imgs-div {
  position: relative;
}

.vector-img {
  position: absolute;
  bottom: 145px;
  left: 40px;
}
.vector-dot {
  position: absolute;
  bottom: 227px;
  left: 92px;
}

.main-image {
  width: 90%;
  margin-left: 5rem;
}

.bg-img {
  width: 63%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

/* ............................. */
/* MEDIA QUARIES  */
/* ............................. */
@media (max-width: 1200px) {
  nav {
    padding: 0 5rem;
  }
  .left-section {
    padding: 0 5rem;
  }
  .left-section h1 {
    font-size: 5rem;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 55%;
  }
  .nav-items {
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
  .nav-items {
    gap: 2rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
  nav img {
    width: 10rem;
  }
  .nav-items {
    gap: 2rem;
  }
  .nav-item {
    font-size: 1.5rem;
  }
  .left-section h1 {
    font-size: 4rem;
  }
  .left-section h4 {
    font-size: 1.6rem;
    width: 100%;
  }
  .bg-img {
    width: 70%;
    /* height: 100%; */
  }
}
@media (max-width: 450px) {
  nav img {
    width: 8rem;
  }
  .nav-items {
    gap: 1rem;
  }
  .nav-item {
    font-size: 1.4rem;
  }
  .signin-btn {
    font-size: 1.4rem;
  }
} ;
